[submodule "ngx-testbox-docs-v2"]
	path = ngx-testbox-docs-v2
	url = git@github.com:kirill-kolomin/ngx-testbox-docs-v2.git
[submodule "ngx-testbox-docs-old"]
	path = ngx-testbox-docs-old
	url = git@github.com:kirill-kolomin/ngx-testbox-docs.git
[submodule "ngx-testbox-agent-skill"]
	path = ngx-testbox-agent-skill
	url = git@github.com:kirill-kolomin/ngx-testbox-agent-skill.git
